:root{
  --primary-color: #00cec9;
  --primary-hover-color: #81ecec;
  --dark-text-color: #2d3436;
  --dark-hover-text-color: #636e72;
  --light-text-color: #b2bec3;
  --light-hover-text-color: #dfe6e9;
  --background-color: #fff;
  --border-radius: 3px;
}