.portfolio-content{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 100px;
  @include mq("tablet"){
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-desc{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
      margin: 100px 0;
    }
    p{
      font-size: 22px;
    }
  }
  &-images{
    width: 100%;
    img{
      width: 100%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}