.about-container{
  background-color: var(--light-hover-text-color);
}
.about{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  @include mq("tablet"){
    height: auto;
    padding: 100px 40px;
  }
  &-desc{
    font-size: 28px;
    text-align: center;
    line-height: 50px;
  }
}