.contact{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  @include mq("tablet"){
    padding: 0 40px;
  }
  &-article{
    width: 100%;
    form{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      .form-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        &-label{
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 20px;
        }
        &-input{
          padding: 20px;
          border: 1px solid var(--dark-text-color);
          border-radius: var(--border-radius);
        }
      }
    }
  }
}